<header>
    <div class="logo">
        <h1>WeFixIt</h1>
    </div>
    <div class="right-header">
        <a href="registerCustomer"><span>Sign up</span></a>
        <a href="login"><span>Log in</span></a>
    </div>
    
</header>