<header>
    <div class="logo">
        <a href="/" style="color: inherit;"><h1>WeFixIt</h1></a>
    </div>
    <div class="right-header">
        
        <a href="">Our Services</a>
        <a href="#">Contact us</a>
        <% if(session.userid) { %>
            <a href="/login/logout"><span>Log out</span></a>
        <% }else { %>
            <a href="login"><span>Log in</span></a>
        <% } %>
    </div>
    
</header>