<header>
    <div class="logo">
        <h1>WeFixIt</h1>
    </div>
    <div class="right-header">
        
        <a href="">Our Services</a>
        <a href="#">Contact us</a>
        <a href="login"><span>Log in</span></a>
    </div>
    
</header>