<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <div class="logo">
                <h1>WeFixIt</h1>
            </div>
            <div class="admin-pages">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#" id="user-management-link">User management</a></li>
                    <li><a href="#" id="bookings-link">Bookings</a></li>
                </ul>
            </div>
        </div>
        <div class="content"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const contentDiv = document.querySelector('.content');

            document.querySelectorAll('.admin-pages a').forEach(link => {
                link.addEventListener('click', async event => {
                    event.preventDefault();

                    const linkid = event.target.id;
                    let url = '';

                    if (linkid === 'user-management-link') {
                        url = '/register/registeruser';
                    } else if (linkid === 'bookings-link') {
                        url = '/booking/bookings';
                    }

                    try {
                        const response = await fetch(url);

                        if (response.ok) {
                            const content = await response.text();
                            contentDiv.innerHTML = content;
                            attachEventListeners(); // Attach event listeners after content is loaded
                        } else {
                            contentDiv.innerHTML = '<p>Failure while loading content</p>';
                        }
                    } catch (error) {
                        contentDiv.innerHTML = '<p>Error while loading content</p>';
                        console.error('error', error);
                    }
                });
            });

            function attachEventListeners() {
                //eventlisteners for manageuser page
                const usertype = document.getElementById('usertype');
                if(usertype!==null){
                    usertype.addEventListener('change', function() {
                        var userType = this.value;
                        var adminFields = document.getElementById('adminFields');
                        var plumberFields = document.getElementById('plumberFields');

                        adminFields.style.display = 'none';
                        plumberFields.style.display = 'none';

                        if (userType == '2') {
                            adminFields.style.display = 'block';
                        } else if (userType == '3') {
                            plumberFields.style.display = 'block';
                        }
                    });
                }
                 
                //eventlisteners for bookings page
                const buttons = document.querySelectorAll('.btn-assign');

                buttons.forEach(button => {
                    button.addEventListener('click', (event) => {
                        console.log('Button clicked');
                        const bookingId = event.target.getAttribute('data-booking-id');
                        const popup = document.getElementById(`assign-container-${bookingId}`);
                        popup.style.display = 'block';
                    });
                });

                document.querySelectorAll('.close').forEach(span => {
                    span.addEventListener('click', (event) => {
                        console.log('Close button clicked');
                        const popup = event.target.closest('.assign-container');
                        popup.style.display = 'none';
                    });
                });
                document.querySelectorAll('button[id^=btnselect]').forEach(button =>{
                    button.addEventListener('click',(event)=>{
                        userID = event.target.id.replace('btnselect','');
                        bookingID = getBookingID();
                        console.log(bookingID+" : "+userID);
                        const data = {userID, bookingID}
                        fetch('/plumber/select',{
                            method: 'POST',
                            headers: {'Content-Type' : 'application/json'},
                            body : JSON.stringify(data),

                        })
                        .then(response =>{
                            if(!response.ok){
                                throw new Error('error while assigning plumber');
                            }
                            
                        })
                        .catch(error =>{
                            console.error('errro',error);
                        })
                        
                        
                        
                    })
                })
                function getBookingID(){
                    const div = document.querySelector('div[id^=assign-container-]');
                    const bookingid = div.id.replace('assign-container-','');
                    return bookingid;
                }
                window.addEventListener('click', (event) => {
                    if (event.target.classList.contains('assign-container')) {
                        console.log('Outside popup clicked');
                        event.target.style.display = 'none';
                    }
                });
                
            }
        });
    </script>
</body>
</html>
