<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <div class="logo">
                <h1>WeFixIt</h1>
            </div>
            <div class="admin-pages">
                <ul>
                    <li><a  href="/">Home</a></li>
                    <li><a class="link" href="#" id="stats-link">Dashboard Analytics</a></li>
                    <li><a class="link" href="#" id="user-management-link">User management</a></li>
                    <li><a class="link" href="#" id="bookings-link">Bookings</a></li>
                </ul>
            </div>
            <div class="logout-section">
                <a href="/login/logout">Logout</a>
            </div>
        </div>
        <div class="content"></div>
    </div>
    <script src="/javascripts/admin-dashboard.js"></script>
</body>
</html> 