<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
    <%- include('./partials/head') %>
    <div class="container">
        <form class="form book" action="/booking/book" method="post">
            <h2>Booking Details</h2>
            <label for="service" >Select service type</label>
            <select type="text" name="service" id="service" style="height: 40px;">
                <option value="Installation">Installation</option>
                <option value="Fix">Fix</option>
            </select>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <label for="date_start">Date you will be available from</label>
            <input type="date" name="date_start" id="date_start">
            
            <button id="btn_submit">Book</button>
        </form>
    </div>
    
    <%- include('./partials/footer') %>
</body>
</html>