<!DOCTYPE html>
<html>
  <head>
    <title>WeFixIt | <%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/head.ejs') %>
    <div class="opening-image"><img src="images/img-1.jpg" alt=""></div>
    <div class="book">
      <div class="box1">
        <p>Experience top-notch plumbing service at your doorstep! Don't let leaks or clogs disrupt your day. 
          Request our expert plumbing team now for fast, reliable fixes that keep your home running smoothly</p>
        <button class="book-button" id="btnBook">Book Us</button>
      </div>
      <div class="side-image">
        <img src="images/book.png"  alt="">
      </div>
    </div>
    <br>
    <div class="services">
      <div class="service">
        <div class="s-head">
          <img src="images/install.png" alt="" style="height: 45px; width: 45px;">
          <h2>Plumbing installation</h2>
        </div>
        <p>We provide the best plumbing installation.</p>
      </div>
      <div class="service">
        <div class="s-head">
          <img src="images/fix.png" alt="" style="height: 45px; width: 45px;">
          <h2>Plumbing fixing</h2>
        </div>
        <p>Tired of dripping pipes and blocked pipes? Contact us for a quick fix today.</p>
      </div>
    </div>
    
    
    <%- include('./partials/footer') %>

    <script>
      document.getElementById("btnBook").addEventListener("click", function() {
        window.location.href = 'booking';
      });
    </script>
  </body>
</html>
