<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/regCUstomer.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/head.ejs') %>
    <div><img src="/public/images/img-1.png" alt=""></div>
    <div class="box1">
      <p>Experience top-notch plumbing service at your doorstep! Don't let leaks or clogs disrupt your day. 
        Request our expert plumbing team now for fast, reliable fixes that keep your home running smoothly</p>
      <button>Book Us</button>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
