<!DOCTYPE html>
<html>
  <head>
    <title>WeFixIt | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/head.ejs') %>
    <div class="container">
        <form class="form log" action="/login/log" method="post">
            <h1>Log in</h1>
            <fieldset>
                <label for="cus_email">Email</label>
                <input type="email" placeholder="abc@mail.com" name="email" id="cus_email">
            </fieldset>
           
            <fieldset>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </fieldset>
            <button type="submit" id="btn_submit">Log in</button>
            <% if(error) { %>
              <span><%= error %></span>
            <% } %>
            <a href="/register/register">Sign up</a>
        </form>
    </div>
    <%- include('./partials/footer') %>

  </body>
</html>