<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      
      <title>WeFixIt | <%= title %></title>
      
      <!-- slider stylesheet -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
      <!-- font awesome style -->
      <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" />
      
      <!-- Custom styles for this template -->
      <link href="/stylesheets/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/stylesheets/responsive.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/custom.css' />
  </head>
  <body>
    <%- include('./partials/head.ejs') %>
    <div class="container">
        <form class="form log" action="/login/log" method="post">
            <h1>Log in</h1>
            <fieldset>
                <label for="cus_email">Email</label>
                <input type="email" placeholder="abc@mail.com" name="email" id="cus_email">
            </fieldset>
           
            <fieldset>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </fieldset>
            <button type="submit" id="btn_submit">Log in</button>
            <% if(error) { %>
              <span><%= error %></span>
            <% } %>
            <a href="/register/register">Sign up</a>
        </form>
    </div>
    <%- include('./partials/footer') %>

  </body>
</html>