<!DOCTYPE html>
<html>
  <head>
    <title>WeFixIt | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <div class="container-manage">
        <div class="head">
            <h3>Manage Users Page</h3>
            <hr>
        <div>
        <div class="body">
            <div class="stats">
                <a href="#"><div class="data">Number of active customers<br>26</div></a>
                <a href="#"><div class="data">Number of active plumbers<br>5</div></a>
                <a href="#"><div class="data">Number of new bookings<br>3</div></a>
            </div>
        </div>
      
    </div>

  </body>
</html>