<!DOCTYPE html>
<html>
  <head>
    <title>WeFixIt | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <div class="container-manage">
        <div class="head">
            <h3>Manage Customers Page</h3>
            <hr>
        <div>
        <div class="body">
            
        </div>
      
    </div>
    
  </body>
</html>