<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>WeFixIt | <%= title %></title>
        
        <!-- slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
        <!-- font awesome style -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" />
        
        <!-- Custom styles for this template -->
        <link href="/stylesheets/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="/stylesheets/responsive.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <%- include('./partials/head.ejs') %>
    <div class="container">
        <form class="form reg" action="/register/register" method="post" onsubmit="return validateForm()">
            <h2>Sign Up</h2>
            <fieldset>
                <label for="cus_name">First Name</label>
                <input type="text" value="John" name="name" id="cus_name">
            </fieldset>
            <fieldset>
                <label for="cus_lastname">Last Name</label>
                <input type="text" value="Doe" name="surname" id="cus_lastname">
            </fieldset>
            <fieldset>
                <label for="address">Physical Address</label>
                <input type="text" id="address" name="address">
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </fieldset>
            <fieldset>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password">
            </fieldset>
            <div id="passwordError" class="error"></div>
            
            
            <button type="submit" id="btn_submit">Sign Up</button>
            <% if(message){ %>
                <div><%= message %></div>
            <% } %>
        </form>
    </div>
    <script>
        function validateForm() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm_password').value;
            var passwordError = document.getElementById('passwordError');

            if (password !== confirmPassword) {
                passwordError.textContent = "Passwords do not match.";
                return false;
            }
            passwordError.textContent = "";
            return true;
        }
    </script>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
