<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/regCUstomer.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

   <%- include('./partials/head.ejs') %>
    <div class="container">
        <form class="reg_customer" action="" method="post">
            <h1>Sign Up</h1>
            <fieldset>
                <label for="cus_name">First Name</label>
                <input type="text" value="John" name="cus_name" id="cus_name">
            </fieldset>
            <fieldset>
                <label for="cus_lastname">Last Name</label>
                <input type="text" value="Doe" name="cus_lastname" id="cus_lastname">
            </fieldset>
    
            <fieldset>
                <label for="birthdate">Date of Birth</label>
                <input type="date" id="birthdate" name="birthdate">
            </fieldset>
            <fieldset>
                <label for="id_no">ID number</label>
                <input type="number" name="id_no" id="id_no">
            </fieldset>
    
            <fieldset>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </fieldset>
            <button type="submit" id="btn_reg_customer">Sign Up</button>
        </form>
    
    </div>
    
    <footer>

    </footer>
</body>
</html>