<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" type="text/css" href="../css/registerCustomer.css"> -->
    <!-- <link rel="icon" href="img/favicon.ico" type="image/x-icon"> -->
</head>
<body>

    <header>
        <div class="logo">
            <h1>WeFixIt</h1>
        </div>
        <div class="right-header">
            <a href="#"><span>Sign up</span></a>
            <a href="#"><span>Log in</span></a>
        </div>
        
    </header>
    <form class="reg_customer" action="" method="post">
        <h1>Sign Up</h1>
        <fieldset>
            <label for="cus_name">First Name</label>
            <input type="text" value="John" name="cus_name" id="cus_name">
        </fieldset>
        <fieldset>
            <label for="cus_lastname">Last Name</label>
            <input type="text" value="Doe" name="cus_lastname" id="cus_lastname">
        </fieldset>

        <fieldset>
            <label for="birthdate">Date of Birth</label>
            <input type="date" id="birthdate" name="birthdate">
        </fieldset>
        <fieldset>
            <label for="id_no">ID number</label>
            <input type="number" name="id_no" id="id_no">
        </fieldset>

        <fieldset>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </fieldset>
        <button type="submit" id="btn_reg_customer">Sign Up</button>
    </form>

    <footer>

    </footer>
</body>
</html>